<html>
  <head>
    <style>
      h1 { font-family: helvetica; font-size: 10em; }
      body { background-color: yellow; }
    </style>
    <title>YOU TWAT</title>
  </head>
  <body>
    <h1><%= @insult %></h1>
  </body>
</html>
